.red{
    color: red;
    border: 200px;
    height: 200px;
    width: 200px;
    &__inner{
        background-color: black;
        height: 20px;
        width: 20px;
    }
}

$Blue:#00ff00;
h1,p{
    color: $Blue;
    // color: $primary;
    // color: $secondary;
    // color: $accent;
    // color: $error;
    // color: $info;
}

// @import url poppins _base.scss
// @import url poppins _variables.scss